<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LootAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LootAlert.Properties.Settings>
            <setting name="PlayOnLegendary" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayOnRare" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayOnMagic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayOnCrafting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Min62s" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="Min63s" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="MinMagic" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="MinJewelry" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="PlayOnGoblin" serializeAs="String">
                <value>True</value>
            </setting>
        </LootAlert.Properties.Settings>
    </userSettings>
</configuration>